.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;
}

.image {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
}